# Frontend Configuration
REACT_APP_API_URL=http://localhost:8000
REACT_APP_WS_URL=ws://localhost:8000

# Authentication Configuration
# Set to 'true' to bypass authentication for local development
REACT_APP_NO_AUTH=false

# AWS Cognito Configuration (populated by CDK during deployment)
REACT_APP_USER_POOL_ID=
REACT_APP_USER_POOL_CLIENT_ID=
REACT_APP_OAUTH_DOMAIN=dev-sonic-int.auth.us-east-1.amazoncognito.com
REACT_APP_OAUTH_REDIRECT_SIGN_IN=http://localhost:3000
REACT_APP_OAUTH_REDIRECT_SIGN_OUT=http://localhost:3000
